:root {
  --color-black-100: rgb(0, 0, 0);

  --color-white-100: rgb(255, 255, 255);
  --color-white-60: rgba(255, 255, 255, 0.6);

  --spacing-m: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  background-color: var(--color-black-100);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  color: var(--color-white-100);
  padding: var(--spacing-m);
}

p {
  font-size: 14px;
  line-height: 14px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.jap {
  font-family: 'Noto Sans JP';
}
