.header {
  position: fixed;
  width: calc(100vw - (var(--spacing-m) * 2));
  display: grid;
  top: var(--spacing-m);
  align-items: start;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--spacing-m);
  z-index: 1;
}

.header svg:nth-child(1) {
  grid-column: span 6;
}

.header svg:nth-child(2) {
  grid-column: span 5;
}

.header svg:nth-child(3) {
  place-self: end;
}
