.intro {
  display: grid;
  position: relative;
  margin-bottom: var(--spacing-m);
}

@media (min-width: 810px) {
  .intro {
    gap: var(--spacing-m);
    align-items: center;
    height: 200vh;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

@media (min-width: 810px) {
  .intro .intro__eng,
  .intro .intro__jap {
    position: sticky;
    top: calc(var(--spacing-m) + 28px);
  }
}

.intro p {
  font-size: clamp(28px, 3vw, 60px);
  line-height: clamp(32px, calc(3vw + 4px), 64px);
}

@media (min-width: 810px) {
  .intro__eng {
    grid-column: 1 / 7;
  }
}

.intro__jap {
  color: var(--color-white-60);
}

@media (min-width: 810px) {
  .intro__jap {
    grid-column: 7 / -1;
  }
}
