.intro {
  position: relative;

  p {
    font-size: clamp(26px, 3vw, 60px);
    line-height: clamp(32px, calc(3vw + 4px), 64px);
  }
}

.intro__content {
  position: relative;
  display: flex;
  height: calc(100vh - (var(--spacing-m) * 2));
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--spacing-m);

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }
}

.intro__eng,
.intro__jap {
  width: 100%;
}

// .intro__eng {
// }

.intro__jap {
  color: var(--color-white-60);
}
